:root {
    --mainColor: #fff;
    --subColor: #6f7477;
    --borderColor: #ff0000;
}

* {
    padding: 0;
    margin: 0;
}

.contentBackground {
    background-color: var(--subColor);
    /* 背景色を変更 */
    width: 100vw;
    /* 横幅を画面いっぱいに表示 */
    height: 100vh;
    /* 縦幅を画面いっぱいに表示 */
}

.bodyDiv {
    overflow: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* absoluteからのtransformで、上下左右中央揃えに */
    width: 100%;
    height: auto;
    max-height: 80%;
    /* 縦幅を可変出来る様に */
    display: flex;
    /* 要素を重ねて表示できるよう */
    flex-direction: column;
    /* 要素を上から順番に並べる様に */
    background: var(--mainColor);
}

.contentHeader {
    border: none;
    width: 100%;
    background-color: var(--subColor);
    display: flex;
    padding: 15px 0;
    /* 要素の内側に上下15pxの余白を設ける */
}

.contentHeaderText {
    color: #fff;
    margin: auto;
    font-size: 1.5em;
    /* フォントのサイズをemを使い、画面サイズごとに適切なサイズに */
    font-family: serif;
    /* フォントのスタイルをserifに */
    font-weight: bold;
    /* フォントの太さをboldに */
    letter-spacing: .1em;
    /* 文字と文字のスペースを設定 */
    padding: 0 0.8em;
}

.elemTextStyle {
    font-size: .7em;
    font-family: serif;
    /* フォントのスタイルをserifに */
    font-weight: bold;
    /* フォントの太さをboldに */
    letter-spacing: .1em;
    /* 文字と文字のスペースを設定 */
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    padding: 0 .8em;
}

.tableRow {
    display: flex;
    flex-direction: row;
    width: calc(100%- 20px);
    height: auto;
    margin: .8em 10px;
}

.columnTop {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin: auto;
    font-size: 1.2em;
    padding: 5px 0;
}

.columnLeft {
    border: 2px solid #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-size: 1.2em;
    padding: 5px 0;
}

.columnRight {
    border: 2px solid #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin: 0 0 0 auto;
    font-size: 1.2em;
    padding: 5px 0;
}

.elemActive {
    border: 2px solid var(--borderColor);
    animation: fadeInAnime 0.8s linear infinite;
}

@keyframes fadeInAnime {
    0% {
        border: 2px solid #fff;
    }

    100% {
        border: 2px solid var(--borderColor);
    }
}

/* ログイン画面 */

.contentModalBackground {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    /* 背景を透かしてぼかす */
    background: #464646de;
}

.contentModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid var(--subColor);
    text-align: center;
    /* 子要素のテキストを中央揃えに */
    padding: 0 0.5em;
    width: 70%;
}

.contentModalHeaderText {
    font-family: serif;
    font-weight: 400;
    font-size: 2em;
    color: #F05454;
    margin: auto;
    padding: 10px;
}

.contentModalText {
    font-family: serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #000;
    margin: auto;
    padding: 10px;
}

.contentModalButton {
    border: 2px solid var(--subColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 5px 1.2em;
    margin: 0.8em auto;
    font-size: 1.8em;
    background: #fff;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: #2c3338;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

#login {
    margin: 50px auto;
}

#login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}


#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: calc(100% - 32px);
    height: 50px;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: calc(100% - 32px);
    height: 50px;
}

#login form input[type="button"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="button"]:hover {
    background: #16aa56;
}

/* ジョン博士の日記 */

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 2em auto 2em;
    padding: 24px;
    position: relative;
    width: 75%;
}

.letter:before,
.letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.letterText {
    color: #000;
    font-family: serif;
    /* フォントのスタイルをserifに */
    font-weight: bold;
    /* フォントの太さをboldに */
    letter-spacing: .1em;
    /* 文字と文字のスペースを設定 */
    padding: 0 0.8em;
}

.letterTextEmphasis {
    color: #ff0000;
    text-decoration: underline;
    font-family: serif;
    /* フォントのスタイルをserifに */
    font-weight: bold;
    /* フォントの太さをboldに */
    letter-spacing: .1em;
    /* 文字と文字のスペースを設定 */
    padding: 0 0.8em;
}


.eventReadEnd {
    width: calc(100% - 30px);
    margin: 0 10px 20px 10px;
    background: #FFFFFF;
    border: 4px solid #05BFDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    text-decoration: none;

}

.eventReadEndText {
    font-family: Serif;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 三行目までは表示され、それ以降は・・・・表示にする */
    -webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 2em;
    margin: auto;
    padding: 5px;
    color: #05BFDB;
}